html {
  scroll-behavior: smooth;
}
body {
  background-color: #f8f9fa;
  font-family: 'verdana', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  font-size: 14px;
}

.list_mobil {
  margin: auto;
  display: block;
  width: 90%;
  overflow-x: scroll;
  box-sizing: border-box;
  padding-bottom: 5px;
}

.card {
  border-radius: 10px;
  width: 15rem;
}

.harga {
  color: #dc3545;
  font-size: 1.3em;
}

h3 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.list_mobil::-webkit-scrollbar {
  height: 5px;
  margin-top: 5px;
}
.list_mobil::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  height: 1px;
}
.list_mobil::-webkit-scrollbar-thumb {
  background-color: #acacac;
}
.list_mobil::-webkit-scrollbar-button {
  display: none;
}
.list_mobil::-webkit-scrollbar-corner {
  background-color: black;
}
.slider_container {
  display: block;
  white-space: nowrap;
}

.item {
  display: inline-block;
  margin-right: 10px;
}
